name: Coverage

on:
    push:
        branches: [ master ]

env:
    PRIMARY_NODE_VERSION: 18

jobs:
    build:

        runs-on: ubuntu-latest

        steps:
            -   name: Checkout
                uses: actions/checkout@v3

            -   name: Install
                uses: ./.github/actions/install
                with:
                    node-version: ${{ env.PRIMARY_NODE_VERSION }}

            -   name: Build
                uses: ./.github/actions/build

            -   name: Generate coverage
                run: |
                  npm run test:coverage

            -   name: Upload Code coverage report
                uses: codecov/codecov-action@v3.1.0
                with:
                  token: ${{ secrets.codecov }}
                  directory: ./coverage/
