name: Release

on:
    push:
        branches:
            - master

concurrency: ${{ github.workflow }}-${{ github.ref }}

env:
    NODE_VERSION: 20

permissions:
    packages: write
    contents: write
    pull-requests: write
    id-token: write

defaults:
    run:
        shell: bash

jobs:
    release:
        name: Release
        runs-on: ubuntu-latest

        steps:
            -   uses: googleapis/release-please-action@v4
                id: release
                with:
                    token: ${{ secrets.GITHUB_TOKEN }}

            -   name: Checkout
                if: steps.release.outputs.releases_created == 'true'
                uses: actions/checkout@v6
                with:
                    fetch-depth: 0

            -   name: Install
                if: steps.release.outputs.releases_created == 'true'
                uses: ./.github/actions/install
                with:
                    node-version: ${{ env.NODE_VERSION }}

            -   name: Build
                if: steps.release.outputs.releases_created == 'true'
                uses: ./.github/actions/build

            -   name: Publish
                if: steps.release.outputs.releases_created == 'true'
                run: npx workspaces-publish

            -   name: Coverage
                if: steps.release.outputs.releases_created == 'true'
                run: |
                    npm run test:coverage

            -   name: Upload report
                if: steps.release.outputs.releases_created == 'true'
                uses: codecov/codecov-action@v4.1.1
                with:
                    token: ${{ secrets.codecov }}
                    directory: ./coverage/


